.app__header {
    
    video {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 110%;
    }

    .test {

        position: absolute;
            top: 30%;

        h1 {
            text-align: center;
            
            font-size: 2.2rem;
            color: var(--black-color);
            font-family: var(--font-lindesnes);
        }
    
        p {
            font-size: 1.4rem;
            font-weight: 600;
            font-family: var(--font-lindesnes);
            text-align: center;

            max-width: 900px;
            margin: 2rem 1rem;
        }
    }
    }
    
