.app__header {
    width: 100%;
    position: relative;

    video {
        position: relative;
        
        min-width: 100%;
        min-height: 100%;
    }
    
    h1 {
        position: absolute;
        top: 28%;

        font-size: 7rem;
        color: var(--black-color);
    }

    p {
        position: absolute;
        font-size: 2rem;
        max-width: 900px;
        top: 45%;

        text-align: center;
    }
}
